@page
@model FilmesCRUDRazor.Pages.Filmes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
   <div class="row">
       <h2>Editar Filme</h2>
       <h4>Filme Top +</h4>
       <hr />
      <div class="row">
         <div class="col-md-4">
            <form method="post">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <input type="hidden" asp-for="Filme.FilmeId" />
               <div class="form-group">
                  <label asp-for="Filme.Titulo" class="control-label"></label>
                  <input asp-for="Filme.Titulo" class="form-control" />
                  <span asp-validation-for="Filme.Titulo" class="text-danger"></span>
               </div>
               <div class="form-group">
                  <label asp-for="Filme.DataLancamento" class="control-label"></label>
                  <input asp-for="Filme.DataLancamento" class="form-control" />
                  <span asp-validation-for="Filme.DataLancamento" class="text-danger"></span>
               </div>
               <div class="form-group">
                  <label asp-for="Filme.Genero" class="control-label"></label>
                  <input asp-for="Filme.Genero" class="form-control" />
                  <span asp-validation-for="Filme.Genero" class="text-danger"></span>
               </div>
               <div class="form-group">
                  <label asp-for="Filme.Preco" class="control-label"></label>
                  <input asp-for="Filme.Preco" class="form-control" />
                  <span asp-validation-for="Filme.Preco" class="text-danger"></span>
               </div>
               <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a class="btn btn-default" asp-page="./Index">Retornar a Lista</a>
               </div>
            </form>
         </div>
      </div>
      <div>
        
      </div>
      @section Scripts {
      @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
      }
   </div>
</div>