@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container">
    <div class="row">
        <h2 class="text-center">Glaucia Lemos - Software Developer & Microsoft MVP</h2>
        <p align="center">
            <img src="https://i.imgsafe.org/8e/8e95f00340.png" />
        </p>
        <br />

        <h3 class="text-justify">⚡️Mini Bio:</h3>
        <hr />
        <p class="text-justify">
            Software Engineer & Developer com especialização em .NET & Node.js/Javascript com experiência nacional e 
            internacional em desenvolvimento de sistemas desde pequenas à grandes empresas.
            Trabalhando com diferentes tecnologias, frameworks e linguagens de programação, 
            como: C#, Asp.NET, Node.Js, Angular, HTML, CSS, KnockoutJs, TypeScript, RESTFul, API, 
            MongoDb, SQL Server, Metodologias Ágil e Scrum, TDD, DDD e entre outros. Atualmente atua 
            como <b><a href="https://bit.ly/2GSYLwI">Microsoft MVP em Developer Technologies</a></b>. 
            Sendo assim, atuando como Evangelista Técnica de novas linguagens de programação, 
            em especial Open Source. Também é <b><a href="https://codersinrio.com.br/">Community Leader & Tech Speaker do Meetup Coders in Rio</a></b>, 
            <b><a href="https://imasters.com.br/perfil/glaucialemos/">Techinical Author no Portal iMasters</a></b> e 
            <b><a href="http://womakerscode.org/">Volunteer & Tech Speaker do WoMakersCode</a></b>.    
        </p>
        <br />

        <h3 class="text-justify">💾 Informações Pessoais:</h3>
        <hr />
        <dl>
            <dt>Nome: Glaucia Lemos</dt>
        </dl>
        <dl>
            <dt>Empresa: <a href="https://www.linkedin.com/company/hackdev/">HackDev</a></dt>
        </dl>
        <dl>
            <dt>Profissão: Software Developer | Microsoft MVP in Developer Technologies</dt>
        </dl>
        <dl>
            <dt>Twitter: <a href="https://twitter.com/glaucia_lemos86">glaucia_lemos86</a></dt>
        </dl>
        <dl>
            <dt>Blog/Site Técnico: <a href="https://code4coders.wordpress.com/">Code4Coders</a></dt>
        </dl>
        <dl>
            <dt>Canal do Youtube: <a href="https://www.youtube.com/user/l32759"></a>Glaucia Lemos</dt>
        </dl>
        <dl>
            <dt>Linkedin: <a href="https://www.linkedin.com/in/glaucialemos/">Glaucia Lemos</a></dt>
        </dl>
        <dl>
            <dt>GitHub: <a href="https://github.com/glaucia86/">glaucia86</a></dt>
        </dl>
        <dl>
            <dt>Localização: Rio de Janeiro, Brasil</dt>
        </dl>
        <br />

        <h3>📋 Palavras Finais:</h3>
        <p class="text-justify">
            Gosto de contribuir em Comunidades Técnicas! Gosto e amo o que faço! Assim que, caso queiram alguma 
            palestra minha ou workshop na sua região, cidade ou estado, vocês poderão ter a mais plena certeza 
            de que farei com: muito amor e dedicação - visando justamente entregar o melhor conteúdo: tanto para 
            a organização do evento e principalmente para o público-alvo. Então, não hesitem de entrar em contato
            do e-mail:<b><a href="glaucia_lemos86@hotmail.com">AQUI</a></b>. Estarei entrando em contato com vocês
            o quanto antes e podem ter a mais plena certeza de que terei o maior prazer em palestrar no seu evento! ❤️❤️❤️    
        </p>
    </div>
</div>
