@page
@model ContactModel
@{
    ViewData["Title"] = "Contato - Glaucia Lemos";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Não hesitem em entrar em contato comigo!</p>

<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="https://www.youtube.com/user/l32759">Youtube</a>
        <a class="btn btn-primary" href="https://www.linkedin.com/in/glaucialemos/">Linkedin</a>
        <a class="btn btn-primary" href="https://github.com/glaucia86">Github</a>
        <a class="btn btn-primary" href="https://code4coders.wordpress.com/">Blog</a>
    </div>
</div>
