@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Workshop - ASP.NET Core para Iniciantes</h1>
        <h2 class="text-center">Glaucia Lemos - Software Developer</h2>
        <h3 class="text-center">Microsoft MVP Developer Technologies</h3>
    </div>
    <hr class="m-y-md">
    <p>Não deixe de acompanhar mais vídeos Tutoriais como esse!</p>
    <p class="lead">
        <a class="btn btn-danger btn-lg" href="https://www.youtube.com/user/l32759" role="button">Inscreva-se no Canal</a>
    </p>
</div>